@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --first-color-fon:#FFFDEE;
  --secondary-color-fon:#F0ECD6;
  --footer-color-fon: #0E0C07;
  --second-logo-color: #828282;
  --accent-color: #F3C653;
  --second-accent-color: #C79002;
  --main-title-color: #000000;
  --main-text-color: #5F5F5F;
  --hotel-text-color: #7A7A7A;
  --second-text-color: #BABABA;
  --pre-title-text-color: #B4B4B4;
  --text-menu-color: #000000;
  --white-color: #FFFFFF;
  --placeholder-color: #808080;
  --shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  --gradient: rgba(0, 0, 0, 0.65);
  --animation-link: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Montserrat-300";
  font-style: normal;
  font-weight: 300;
  src: url(/src/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat-400";
  font-style: normal;
  font-weight: 400;
  src: url(/src/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-500";
  font-style: normal;
  font-weight: 500;
  src: url(/src/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat-600";
  font-style: normal;
  font-weight: 600;
  src: url(/src/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-700";
  font-style: normal;
  font-weight: 700;
  src: url(/src/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  src: url(/src/fonts/FilmP3Bold.ttf);
}
body {
  font-family: "Montserrat-600", sans-serif;
  font-size: 12px;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table,
tbody,
caption,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }
}

.section {
  padding-top: 16px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .section {
    padding-top: 120px;
  }
}
.section-about {
  padding-top: 16px;
  padding-bottom: 72px;
}
@media screen and (min-width: 1024px) {
  .section-about {
    padding-top: 120px;
    padding-bottom: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .section-about {
    padding-bottom: 225px;
  }
}

.section-title {
  margin-bottom: 12px;
  margin-top: 12px;
  font-family: Film P3;
  font-style: 700;
  font-size: 40px;
  color: #494848;
  line-height: 1.075;
  letter-spacing: 0.3em;
}
@media screen and (min-width: 1024px) {
  .section-title {
    margin-top: 4px;
    margin-bottom: 24px;
    font-size: 64px;
  }
}

.section-title-pre-text {
  font-family: Times New Roman;
  font-style: Regular;
  font-size: 20px;
  line-height: 1.15;
  color: var(--pre-title-text-color);
}
@media screen and (min-width: 1024px) {
  .section-title-pre-text {
    font-size: 32px;
  }
}

.section-title-post-text {
  font-style: SemiBold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  width: 258px;
}
@media screen and (min-width: 1024px) {
  .section-title-post-text {
    font-size: 16px;
    width: 439px;
  }
}
@media screen and (min-width: 1280px) {
  .section-title-post-text {
    width: 518px;
  }
}

.button {
  padding: 0 10px;
  max-width: 236px;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid var(--white-color);
  border-radius: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: background-color var(--animation-link);
}
.button:hover, .button:focus {
  background-color: var(--white-color);
}
@media screen and (min-width: 414px) {
  .button {
    min-width: 236px;
    padding: 0;
  }
}

.button__small {
  max-width: 232px;
}
@media screen and (min-width: 414px) {
  .button__small {
    min-width: 232px;
  }
}

.button__dark {
  background: var(--text-menu-color);
  transition: border-color var(--animation-link);
}
.button__dark:hover, .button__dark:focus {
  border-color: var(--accent-color);
}

.button__booking {
  padding: 0 10px;
  max-width: 384px;
  height: 64px;
  background: var(--text-menu-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white-color);
  text-transform: uppercase;
  transition: background-color var(--animation-link), color var(--animation-link);
}
.button__booking:hover, .button__booking:focus {
  background-color: var(--accent-color);
  color: var(--text-menu-color);
}
@media screen and (min-width: 414px) {
  .button__booking {
    min-width: 384px;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .button__booking {
    min-width: 434px;
  }
}

.button__modal {
  padding: 0 10px;
  max-width: 384px;
  height: 64px;
  background: var(--text-menu-color);
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white-color);
  text-transform: uppercase;
  transition: background-color var(--animation-link), color var(--animation-link);
}
.button__modal:hover, .button__modal:focus {
  background-color: var(--accent-color);
  color: var(--text-menu-color);
}
@media screen and (min-width: 414px) {
  .button__modal {
    min-width: 384px;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .button__modal {
    min-width: 592px;
  }
}

.backdrop {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: var(--overlay);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.modal {
  background-color: var(--first-color-fon);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bottom: 50%; */
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  .modal {
    max-width: 712px;
  }
}
.modal__close {
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--main-title-color);
  border: 0;
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}
.modal__title {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--text-menu-color);
  text-align: center;
  margin-top: 60px;
}
.modal__form {
  margin: 40px 15px;
}
@media screen and (min-width: 1024px) {
  .modal__form {
    margin: 36px 60px 60px 60px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__user-wrap, .modal__times-wrap {
    display: flex;
    gap: 16px;
  }
}
.modal__user-wrap {
  margin-bottom: 28px;
}
.modal__field {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}
.modal__field:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .modal__field:not(:last-child) {
    margin-bottom: 0;
  }
}
.modal__input, .modal__select {
  width: 384px;
  height: 54px;
  border: 1px solid var(--second-accent-color);
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--placeholder-color);
  padding: 17px 25px 17px 12px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  appearance: none;
}
@media screen and (min-width: 1024px) {
  .modal__input, .modal__select {
    width: 288px;
    height: 64px;
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1024px) {
  .modal__select-wrap {
    display: flex;
    justify-content: flex-end;
  }
}
.modal__select {
  height: 64px;
  padding: 18px 25px 22px 12px;
}
@media screen and (min-width: 1024px) {
  .modal__select {
    padding: 18px 25px 18px 12px;
  }
}
.modal__label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--second-accent-color);
}
@media screen and (min-width: 1024px) {
  .modal__label {
    padding-left: 12px;
    font-size: 16px;
    line-height: 1.25;
  }
}
.modal__input-icon {
  appearance: none;
}
.modal__input-icon::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(/src/images/arrow-down.svg);
  background-position: 50% 50%;
  position: absolute;
  right: 16px;
  z-index: 1;
  right: 10%;
}
@media screen and (min-width: 1024px) {
  .modal__user-wrap, .modal__times-wrap {
    display: flex;
    gap: 16px;
  }
}
.modal__user-wrap {
  margin-bottom: 28px;
}
.modal__times-wrap {
  margin-top: 28px;
}
.modal__submit {
  width: 384px;
  height: 64px;
  outline: transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--white-color);
  background-color: var(--text-menu-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .modal__submit {
    width: 592px;
    font-size: 24px;
  }
}

.input__text {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--placeholder-color);
}
.input__icon {
  position: absolute;
  left: 347px;
  top: 22.5px;
  background-color: var(--first-color-fon);
  fill: var(--accent-color);
}

.select__wrap {
  position: relative;
}
.select__wrap::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(/src/images/arrow-down.svg);
  background-position: 50% 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 5%;
}

input[type=date]::-webkit-calendar-picker-indicator {
  height: 50px;
  width: 0px;
  padding-left: 100px;
  z-index: 10;
}

.backdrop {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: var(--overlay);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.modal {
  background-color: var(--first-color-fon);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bottom: 50%; */
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  .modal {
    max-width: 712px;
  }
}
.modal__close {
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--main-title-color);
  border: 0;
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}
.modal__title {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--text-menu-color);
  text-align: center;
  margin-top: 60px;
}
.modal__form {
  margin: 40px 15px 60px 15px;
}
@media screen and (min-width: 1024px) {
  .modal__form {
    margin: 36px 60px 60px 60px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__form-wrap {
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__user-wrap, .modal__times-wrap {
    display: flex;
    gap: 16px;
  }
}
.modal__field {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}
.modal__field:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .modal__field:not(:last-child) {
    margin-bottom: 0;
  }
}
.modal__input, .modal__select {
  width: 384px;
  height: 54px;
  border: 1px solid var(--second-accent-color);
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--placeholder-color);
  padding: 17px 24px 17px 12px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  appearance: none;
}
@media screen and (min-width: 1024px) {
  .modal__input, .modal__select {
    width: 288px;
    height: 64px;
    font-size: 24px;
    line-height: 1.16;
  }
}
.modal__select {
  height: 64px;
  padding: 18px 25px 22px 12px;
}
@media screen and (min-width: 1024px) {
  .modal__select {
    padding: 18px 25px 18px 12px;
  }
}
.modal__label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--second-accent-color);
}
@media screen and (min-width: 1024px) {
  .modal__label {
    padding-left: 12px;
    font-size: 16px;
    line-height: 1.25;
  }
}
.modal__input-icon {
  appearance: none;
}
.modal__input-icon::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(/src/images/arrow-down.svg);
  background-position: 50% 50%;
  position: absolute;
  right: 16px;
  z-index: 1;
  margin-right: 4px;
}
@media screen and (min-width: 1024px) {
  .modal__user-wrap, .modal__select-wrap {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
}
.modal__submit {
  width: 384px;
  height: 64px;
  outline: transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--white-color);
  background-color: var(--text-menu-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .modal__submit {
    width: 592px;
    font-size: 24px;
  }
}

.input__text {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--placeholder-color);
}
.input__icon {
  position: absolute;
  left: 347px;
  top: 22.5px;
  background-color: var(--first-color-fon);
  fill: var(--accent-color);
}

.select__wrap {
  position: relative;
}
.select__wrap::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(/src/images/arrow-down.svg);
  background-position: 50% 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 92%;
}

input[type=date]::-webkit-calendar-picker-indicator {
  height: 50px;
  width: 0px;
  padding-left: 100px;
  z-index: 10;
}

.header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo_navigation {
  font-family: "Film P3";
  font-style: normal;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: var(--white-color);
}

.menu__navigation {
  margin-left: 24px;
}
@media screen and (max-width: 1023px) {
  .menu__navigation {
    margin-left: 15px;
  }
}
@media screen and (max-width: 1279px) {
  .menu__navigation {
    margin-left: -20px;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__link {
  font-family: "Montserrat-500";
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-right: 32px;
}
@media screen and (max-width: 1023px) {
  .menu__link {
    margin-right: 12px;
    font-size: 16px;
  }
}

.menu__item {
  display: flex;
  align-items: center;
  margin-left: 72px;
}

.menu__contact {
  display: flex;
  align-items: center;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .menu__contact {
    border: none;
  }
}

.menu__tel {
  display: flex;
  align-items: center;
  font-family: "Montserrat-400";
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

@media screen and (max-width: 1023px) {
  .menu__tel-tel {
    display: none;
  }
}

.second-tel {
  padding-left: 16px;
}

.menu__tel-icon {
  fill: var(--accent-color);
}

.header__social {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-left: 60px;
}
.header__social-icon {
  fill: var(--accent-color);
}
@media screen and (max-width: 1279px) {
  .header__social {
    display: none;
  }
}

.section-hero {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./../images/homepage/banner-bg/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./../images/homepage/banner-bg/banner-bg-2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .section-hero {
    padding-top: 188px;
    padding-bottom: 15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./../images/homepage/banner-bg/banner-bg-tablet.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./../images/homepage/banner-bg/banner-bg-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .section-hero {
    padding-top: 164px;
    padding-bottom: 64px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./../images/homepage/banner-bg/banner-bg-desktop.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./../images/homepage/banner-bg/banner-bg-desktop-2x.jpg);
  }
}

@media screen and (max-width: 1023px) {
  .container--hero {
    position: relative;
    padding-top: 181px;
    padding-bottom: 20px;
  }
}

.section-hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  font-family: "Film P3";
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--white-color);
  text-align: center;
  max-width: 303px;
}
@media screen and (min-width: 1024px) {
  .section-hero__title {
    margin-bottom: 16px;
    max-width: 404px;
    font-size: 128px;
  }
}

.section-hero__subtitle {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .section-hero__subtitle {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .section-hero__subtitle {
    margin-bottom: 64px;
  }
}

.section-hero__slogan {
  margin-bottom: 113px;
  text-transform: uppercase;
  display: block;
  font-family: "Times New Roman";
  font-size: 32px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--white-color);
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .section-hero__slogan {
    font-size: 36px;
    line-height: 1.13;
    margin-bottom: 137px;
  }
}

.box-center {
  margin-bottom: 58px;
}
@media screen and (min-width: 1024px) {
  .box-center {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
}

.address {
  position: relative;
  display: inline-block;
  padding: 8px 8px 8px 44px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  max-width: 210px;
}
@media screen and (max-width: 1023px) {
  .address {
    position: absolute;
    top: 64px;
    right: 15px;
    padding: 8px 0px 8px 31px;
  }
}
@media screen and (min-width: 1024px) {
  .address {
    margin-right: 137px;
    padding: 8px 8px 8px 44px;
    max-width: 285px;
  }
}
@media screen and (min-width: 1280px) {
  .address {
    margin-right: 297px;
  }
}

.address__link {
  display: block;
  font-family: "Montserrat-400";
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}
@media screen and (min-width: 1024px) {
  .address__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .reception {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 58px;
  }
}
@media screen and (min-width: 1024px) {
  .reception {
    display: inline-flex;
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .reception {
    gap: 60px;
  }
}

.list-social {
  display: flex;
  gap: 23px;
}
@media screen and (min-width: 1280px) {
  .list-social {
    display: none;
  }
}

.list-social__icon {
  display: block;
  fill: rgba(243, 198, 83, 0.7);
}

.list-social__icon--loc {
  position: absolute;
  top: 11px;
  left: 6px;
}
@media screen and (min-width: 1024px) {
  .list-social__icon--loc {
    top: 13px;
    left: 10px;
    width: 24px;
    height: 24px;
  }
}

.main-page-about-restaurant {
  background-color: var(--first-color-fon);
}

.main-page-about-restaurant-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-page-photo-about-restaurant {
  width: 65%;
  margin-top: 28px;
  margin-left: auto;
  background: #dadada;
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 414px) {
  .main-page-photo-about-restaurant {
    width: 246px;
  }
}
@media screen and (min-width: 1024px) {
  .main-page-photo-about-restaurant {
    position: absolute;
    top: -153px;
    right: 65px;
    margin-top: 0px;
    width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .main-page-photo-about-restaurant {
    right: 95px;
    top: -153px;
    width: 460px;
  }
}

.main-page-second-photo-about-restaurant {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .main-page-second-photo-about-restaurant {
    margin-top: 142px;
    gap: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .main-page-second-photo-about-restaurant {
    margin-top: 162px;
    gap: 40px;
  }
}
.main-page-second-photo-about-restaurant picture {
  width: 50%;
  background: #dadada;
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 414px) {
  .main-page-second-photo-about-restaurant picture {
    width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .main-page-second-photo-about-restaurant picture {
    width: 350px;
  }
}
@media screen and (min-width: 1280px) {
  .main-page-second-photo-about-restaurant picture {
    width: 460px;
    box-shadow: none;
  }
}

.main-page-second-photo-about-restaurant-text {
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--second-accent-color);
  width: 163px;
}
@media screen and (min-width: 1024px) {
  .main-page-second-photo-about-restaurant-text {
    font-size: 16px;
    width: 312px;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider-about {
  margin-top: 32px;
  min-width: 0;
  width: calc(100% - 54px);
  height: 100%;
  position: relative;
  margin-left: auto;
  right: -15px;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .slider-about {
    width: 428px;
    margin: 0;
    margin-right: 15px;
    margin-left: auto;
    top: -28px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-about {
    position: absolute;
    width: 548px;
    height: 254px;
    top: 794px;
    right: 0;
  }
}
.slider-about .slick-arrow {
  position: absolute;
  top: 279px;
  width: 30px;
  height: 16px;
  background-size: contain;
}
.slider-about .slick-arrow.slick-prev {
  left: 220px;
  background: url(../images/svg/arrow-left-about.svg) 0 0/100% no-repeat;
}
@media screen and (min-width: 1024px) {
  .slider-about .slick-arrow.slick-prev {
    left: 334px;
    top: 242;
  }
}
@media screen and (min-width: 1280px) {
  .slider-about .slick-arrow.slick-prev {
    top: 302;
    left: 445;
    right: 103px;
  }
}
.slider-about .slick-arrow.slick-prev:hover {
  background-image: url(../images/svg/arrow-left-about-gold.svg);
}
.slider-about .slick-arrow.slick-next {
  right: 18px;
  background: url(../images/svg/arrow-right-about.svg) 0 0/100% no-repeat;
}
@media screen and (min-width: 1024px) {
  .slider-about .slick-arrow.slick-next {
    right: 0;
    top: 242;
  }
}
@media screen and (min-width: 1280px) {
  .slider-about .slick-arrow.slick-next {
    top: 302;
    right: 9px;
  }
}
.slider-about .slick-arrow.slick-next:hover {
  background-image: url(../images/svg/arrow-right-about-gold.svg);
}
.slider-about .slider-about__item {
  text-align: center;
  margin-right: 24px;
}
@media screen and (min-width: 1024px) {
  .slider-about .slider-about__item {
    margin-right: 40px;
  }
}

.details-rest {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./../images/homepage/restaurant-bg/restaurant-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .details-rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./../images/homepage/restaurant-bg/restaurant-bg-2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .details-rest {
    padding-top: 48px;
    padding-bottom: 15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./../images/homepage/restaurant-bg/restaurant-tab-bg.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .details-rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./../images/homepage/restaurant-bg/restaurant-tab-bg-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .details-rest {
    padding-top: 48px;
    padding-bottom: 94px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./../images/homepage/restaurant-bg/restaurant-desktop-bg.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .details-rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./../images/homepage/restaurant-bg/restaurant-desktop-bg-2x.jpg);
  }
}

.details-rest__information {
  margin-left: 140px;
}
@media screen and (min-width: 1024px) {
  .details-rest__information {
    margin-left: 278px;
  }
}
@media screen and (min-width: 1280px) {
  .details-rest__information {
    margin-left: 338px;
  }
}

.details-rest__title {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: var(--white-color);
  margin-bottom: 12px;
}

.details-rest__post-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 20px;
}

.details-rest__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  margin-bottom: 48px;
}
@media screen and (min-width: 1024px) {
  .details-rest__text {
    width: 610px;
  }
}

.rest-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .rest-buttons {
    display: block;
  }
}

.table-button {
  margin-bottom: 16px;
}

.menu-button {
  display: block;
  padding: 12px 32px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid var(--white-color);
  border-radius: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: background-color var(--animation-link);
}
.menu-button:hover, .menu-button:focus {
  background-color: var(--white-color);
}
@media screen and (min-width: 414px) {
  .menu-button {
    min-width: 236px;
  }
}
@media screen and (min-width: 1024px) {
  .menu-button {
    max-width: 236px;
    padding: 12px 30px;
  }
}

.rest-slider-photo {
  width: 270px;
}

.section-contacts {
  background-color: var(--first-color-fon);
}

.container__contacts {
  position: relative;
  z-index: 1;
}

.background-line {
  position: relative;
  width: 550px;
  height: 0px;
  border: 1px solid rgba(186, 186, 186, 0.4);
  filter: blur(0.5px);
  transform: rotate(90deg) translateY(100%);
  transform-origin: top left;
}

.background-line__left {
  left: 33.33%;
}
@media screen and (min-width: 1024px) {
  .background-line__left {
    left: 25%;
  }
}

.background-line__right {
  left: 66.66%;
}
@media screen and (min-width: 1024px) {
  .background-line__right {
    left: 50%;
  }
}

.background-line__centr {
  display: none;
}
@media screen and (min-width: 1024px) {
  .background-line__centr {
    display: block;
    left: 75%;
  }
}

.contacts__wrap {
  position: relative;
  z-index: 2;
  padding-top: 36px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .contacts__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 69px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__wrap {
    padding-top: 64px;
    padding-bottom: 74px;
  }
}

.logo__section {
  margin-bottom: 12px;
  font-family: "Film P3";
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #494848;
}
@media screen and (min-width: 1024px) {
  .logo__section {
    font-size: 64px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .logo__section {
    color: var(--second-logo-color);
  }
}

.contacts__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1024px) {
  .contacts__text {
    margin-bottom: 52px;
  }
}

.contacts__text-nav {
  font-family: "Montserrat-500";
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-accent-color);
}
@media screen and (min-width: 1024px) {
  .contacts__text-nav {
    margin-bottom: 8px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-family: "Montserrat-400";
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  fill: var(--second-accent-color);
  color: #494848;
  transition: color var(--animation-link), fill var(--animation-link);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1280px) {
  .contacts__link {
    color: var(--second-logo-color);
  }
}

.contacts__link__secondary-number {
  margin-left: 12px;
}

.contacts__list > li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .contacts__list > li {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.contacts__box {
  display: flex;
  border-radius: 2px;
  border: 0.5px solid var(--accent-color);
  background: var(--white-color);
  transition: color var(--animation-link);
}

.contacts__box__hotel {
  width: 260px;
  height: 40px;
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .contacts__box__hotel {
    margin-left: 0;
    margin-bottom: 48px;
  }
}

.contacts__box__resto {
  width: 144px;
  height: 40px;
  margin-left: 22px;
}
@media screen and (min-width: 1024px) {
  .contacts__box__resto {
    margin: 0;
    margin-bottom: 24px;
  }
}

.contacts__box__adress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 76px;
  margin-left: auto;
  margin-bottom: 32px;
  padding-right: 33px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 1024px) {
  .contacts__box__adress {
    margin: 0;
    width: 285px;
    height: 56px;
    padding-right: 0;
  }
}

.contacts-icon {
  margin: 11px 14px;
  fill: currentColor;
}

.contacts__link__adress {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.contacts_map {
  width: 100%;
  border: 1px solid var(--pre-title-text-color);
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .contacts_map {
    width: 535px;
    height: 420px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1280px) {
  .contacts_map {
    width: 634px;
  }
}

.footer {
  padding: 40px 0px 42px;
  background-color: #0e0c07;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .container-footer {
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .wrap {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}
.wrap__logo-footer {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.06;
  letter-spacing: 0.3em;
  color: #f3c653;
}
@media screen and (max-width: 1024px) {
  .wrap__logo-footer {
    margin-left: 59px;
  }
}
@media screen and (min-width: 1024px) {
  .wrap__logo-footer {
    font-family: "Film P3";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.08;
    letter-spacing: 0.3em;
  }
}

@media screen and (max-width: 1024px) {
  .box {
    margin-left: auto;
  }
}
@media screen and (min-width: 1024px) {
  .box {
    display: flex;
  }
}

/*.features {
  @include tablet {
    border-left: 1px solid rgba(122, 122, 122, 0.4);
    filter: blur(0.5px);
  }
}*/
.footer-features__features-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-features__features-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #f3c653;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-top: 32px;
}

.section-hero--rest {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(././../images/restaurant/bg/restaurant-bg-min.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero--rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(././../images/restaurant/bg/restaurant-bg-2x-min.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .section-hero--rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(././../images/restaurant/bg/restaurant-bg-tab-min.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .section-hero--rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(././../images/restaurant/bg/restaurant-bg-tab-2x-min.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .section-hero--rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(././../images/restaurant/bg/restaurant-bg-desktop-min.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .section-hero--rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(././../images/restaurant/bg/restaurant-bg-desktop-2x-min.jpg);
  }
}

.menu__section {
  width: 100%;
  background-color: var(--first-color-fon);
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu__container {
  max-width: 413px;
}
@media screen and (min-width: 414px) {
  .menu__container {
    width: 414px;
  }
}

.menu__title {
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  color: var(--main-title-color);
  padding-bottom: 32px;
}
@media screen and (min-width: 414px) {
  .menu__title {
    font-size: 32px;
  }
}

.category__title {
  text-align: start;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--main-title-color);
  margin-bottom: 16px;
}

.category__dish {
  display: block;
  width: 100%;
  padding-bottom: 16px;
}

.category__dish:not(:last-child) {
  padding-bottom: 16px;
}

.dish__complex {
  display: block;
}

.dish__complex:not(:last-child) {
  padding: 0 0 8px 0;
}

.dish__wrap {
  width: 221px;
}

.dish__name {
  width: 100%;
  font-family: "Montserrat-500", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 4px;
  padding: 0;
}

.dish__single {
  display: block;
}

.dish__single:not(:last-child) {
  padding: 0 0 11px 0;
}

.dish__name--single:not(:last-child) {
  height: 17px;
  width: 162px;
  margin-bottom: 0;
}

.dish__ingredients {
  font-family: "Montserrat-400", sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.dish__weight {
  font-family: "Montserrat-300", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding: 0 0 0 28px;
  height: 17px;
  min-width: 60px;
  vertical-align: middle;
}
@media screen and (min-width: 414px) {
  .dish__weight {
    font-size: 14px;
  }
}

.dish__weight--desert {
  padding-left: 90px;
}

.dish__weight--drinks {
  padding-left: 75px;
}

.dish__price {
  font-family: "Montserrat-700", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding: 0 0 0 32px;
  min-width: 94px;
  vertical-align: middle;
  text-align: end;
}
@media screen and (min-width: 414px) {
  .dish__price {
    font-size: 14px;
  }
}

.dish__price--bigger-padding {
  padding: 0 0 0 45px;
}

.dish__price--big-padding {
  padding: 0 0 0 40px;
}

.menu__button {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
}

.section-hero--hotel {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(././../images/hotel/bg/hotel-bg-min.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero--hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(././../images/hotel/bg/hotel-bg-2x-min.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .section-hero--hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(././../images/hotel/bg/hotel-bg-tab-min.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .section-hero--hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(././../images/hotel/bg/hotel-bg-tab-2x-min.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .section-hero--hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(././../images/hotel/bg/hotel-bg-desktop-min.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .section-hero--hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(././../images/hotel/bg/hotel-bg-desktop-2x-min.jpg);
  }
}

.box-hero-title {
  margin-bottom: 178px;
}
@media screen and (min-width: 1024px) {
  .box-hero-title {
    margin-bottom: 218px;
  }
}
@media screen and (min-width: 1024px) {
  .box-hero-title {
    margin-bottom: 242px;
  }
}

.room-doublelux {
  min-height: 1050px;
  background: var(--first-color-fon);
  position: relative;
}

.room-doublelux__content {
  padding-top: 32px;
  padding-left: 15px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--pre-title-text-color);
}
@media screen and (min-width: 1024px) {
  .room-doublelux__content {
    padding-top: 62px;
    padding-left: 47px;
    font-size: 32px;
    line-height: 1.15625;
  }
}
@media screen and (min-width: 1280px) {
  .room-doublelux__content {
    padding-top: 72px;
    padding-left: 85px;
    font-size: 32px;
    line-height: 1.15625;
  }
}

.room-doublelux__logo {
  padding-top: 8px;
  padding-left: 15px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #494848;
}
@media screen and (min-width: 1024px) {
  .room-doublelux__logo {
    padding-top: 4px;
    padding-left: 47px;
    font-size: 64px;
    line-height: 1.078125;
  }
}
@media screen and (min-width: 1280px) {
  .room-doublelux__logo {
    padding-top: 4px;
    padding-left: 85px;
    font-size: 64px;
    line-height: 1.078125;
  }
}

.room-doublelux__title {
  padding-top: 32px;
  padding-left: 15px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--text-menu-color);
}
@media screen and (min-width: 1024px) {
  .room-doublelux__title {
    padding-top: 62px;
    padding-left: 47px;
    font-size: 30px;
    line-height: 1.1333333333;
  }
}
@media screen and (min-width: 1280px) {
  .room-doublelux__title {
    padding-top: 72px;
    padding-left: 85px;
    font-size: 36px;
    line-height: 1.1388888889;
  }
}

.room-doublelux__description {
  padding-top: 12px;
  padding-left: 15px;
  max-width: 258px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5f5f5f;
}
@media screen and (min-width: 1024px) {
  .room-doublelux__description {
    padding-top: 16px;
    padding-left: 47px;
    max-width: 439px;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .room-doublelux__description {
    padding-top: 24px;
    padding-left: 85px;
    max-width: 400px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #7a7a7a;
  }
}

.room-doublelux__photo {
  position: absolute;
  top: 286px;
  left: 155px;
}
@media screen and (min-width: 1024px) {
  .room-doublelux__photo {
    top: -32px;
    left: 512px;
  }
}
@media screen and (min-width: 1280px) {
  .room-doublelux__photo {
    top: -33px;
    left: 640px;
  }
}

.room-doublelux__button-wrap {
  margin-top: 652px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .room-doublelux__button-wrap {
    margin-left: auto;
    margin-right: 47px;
    padding-bottom: 145px;
    justify-content: right;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .room-doublelux__button-wrap {
    margin-left: auto;
    margin-right: 85px;
    padding-bottom: 182px;
    justify-content: right;
    align-items: flex-end;
  }
}

.hero-room {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.background-image {
  background: rgba(0, 0, 0, 0.65);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .background-image {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.background-image--double-lux {
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 9.17%, rgba(0, 0, 0, 0) 50%), url(././../images/hotel/bg/hotel-bg-min.jpg);
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 9.17%, rgba(0, 0, 0, 0) 50%), url(././../images/hotel/bg/hotel-bg-tab-min.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .background-image--double-lux {
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 9.17%, rgba(0, 0, 0, 0) 50%), url(././../images/hotel/bg/hotel-bg-2x-min.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .background-image--double-lux {
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 9.17%, rgba(0, 0, 0, 0) 50%), url(././../images/hotel/bg/hotel-bg-tab-2x-min.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .background-image--double-lux {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 9.17%, rgba(0, 0, 0, 0) 50%), url(././../images/hotel/bg/hotel-bg-desktop-min.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .background-image--double-lux {
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 9.17%, rgba(0, 0, 0, 0) 50%), url(././../images/hotel/bg/hotel-bg-desktop-2x-min.jpg);
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 93px;
}

.slick-prev,
.slick-next {
  font-size: 0px;
  width: 40px;
  height: 40px;
}

.slick-prev.slick-arrow {
  background-image: url(../images/arrow-left.svg);
  left: 15px;
  z-index: 9;
}
@media screen and (min-width: 1024px) {
  .slick-prev.slick-arrow {
    left: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .slick-prev.slick-arrow {
    left: 85px;
  }
}

.slick-next.slick-arrow {
  background-image: url(../images/arrow-right.svg);
  right: 15px;
}
@media screen and (min-width: 1024px) {
  .slick-next.slick-arrow {
    right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .slick-next.slick-arrow {
    right: 85px;
  }
}

.slick-prev:before,
.slick-next:before {
  content: "";
}

.container--hroom {
  padding-top: 483px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .container--hroom {
    padding-bottom: 20px;
    padding-top: 468px;
  }
}
@media screen and (min-width: 1280px) {
  .container--hroom {
    padding-bottom: 48px;
    padding-top: 524px;
  }
}

.box-margin {
  margin-bottom: 17px;
}
@media screen and (min-width: 1024px) {
  .box-margin {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .box-margin {
    margin-bottom: 0px;
  }
}

.hero-room__title {
  margin-bottom: 14px;
  font-family: "Times New Roman";
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: var(--white-color);
}
@media screen and (max-width: 1023px) {
  .hero-room__title {
    max-width: 325px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-room__title {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1.13;
  }
}

.hero-room__upercase {
  text-transform: uppercase;
}

.hero-room__text {
  font-family: "Montserrat-700";
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 325px;
}
@media screen and (min-width: 1024px) {
  .hero-room__text {
    font-size: 16px;
    max-width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .address--room {
    margin-right: 41px;
  }
}
@media screen and (min-width: 1280px) {
  .address--room {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .list-social--room {
    flex-direction: column;
    gap: 11px;
  }
}
@media screen and (min-width: 1024px) {
  .list-social--room {
    display: inline-flex;
    gap: 23px;
  }
}
@media screen and (min-width: 1280px) {
  .list-social--room {
    display: none;
  }
}

.hero-room__btn {
  position: absolute;
}
@media screen and (max-width: 1023px) {
  .hero-room__btn {
    bottom: 45px;
    right: 54px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-room__btn {
    bottom: 64px;
    right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-room__btn {
    bottom: 66px;
    right: 85px;
  }
}/*# sourceMappingURL=index.css.map */