<section class="section-hero section-hero--rest">
    <div class="container container--hero">
        <div data-aos="zoom-in">
            <h1 class="section-hero__title animate__animated animate__zoomIn animate__delay-1s">MIMIHO</h1>
            <h2 class="section-hero__subtitle animate__animated animate__zoomIn animate__delay-1s">Ресторан
            </h2>
        </div>
        <b class="section-hero__slogan">Смак життя 24/7</b>
        <div class="box-center">
            <address class="address">
                <a class="address__link" href="https://goo.gl/maps/uGnBkRTMWL5woVNs7" rel="noreferrer noopener">
                    <svg class="list-social__icon list-social__icon--loc" width="20px" height="20px">
                        <use href="./images/symbol-defs.svg#icon-location"></use>
                    </svg>
                    Україна, м. Полтава,
                    вул. Маршала Бірюзова, 15
                </a>
            </address>
            <ul class="reception">
                <li class="reception__item box-btn"><button class="reception__btn button " type="button">Забронювати
                        столик</button>
                </li>
                <li class="reception__item box-btn"><button class="reception__btn button" type="button">Забронювати
                        номер</button>
                </li>
            </ul>
        </div>
        <ul class="list-social">
            <li class="list-social__item">
                <a href="https://www.instagram.com/" rel="noreferrer noopener">
                    <svg class="list-social__icon" width="24px" height="24px">
                        <use href="./images/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="list-social__item">
                <a href="https://www.facebook.com/" rel="noreferrer noopener">
                    <svg class="list-social__icon" width="24px" height="24px">
                        <use href="./images/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="list-social__item">
                <a href="https://telegram.org/" rel="noreferrer noopener">
                    <svg class="list-social__icon" width="24px" height="24px">
                        <use href="./images/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>