<section>
  <div class="container menu__container">
    <h2 class="menu__title">Меню ресторану</h2>
    <ul class="menu__list list">
      <li class="menu__category">
        <h3 class="category__title">Гарячі страви</h3>
        <table class="category__dish">
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Борщ з телятини з квасолею</p>
              <p class="dish__ingredients">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </p>
            </td>
            <td class="dish__weight">400 г</td>
            <th class="dish__price">240 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Суп сирний з куркою</p>
              <p class="dish__ingredients">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </p>
            </td>
            <td class="dish__weight">400 г</td>
            <th class="dish__price">200 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Паста карбонара</p>
              <p class="dish__ingredients">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </p>
            </td>
            <td class="dish__weight">350 г</td>
            <th class="dish__price">430 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Стейк зі свинини</p>
              <p class="dish__ingredients">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </p>
            </td>
            <td class="dish__weight">400 г</td>
            <th class="dish__price">500 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Горбуша в соусі з білого вина</p>
              <p class="dish__ingredients">
                Ніжна горбуша, вершковий соус на основі білого вина
              </p>
            </td>
            <td class="dish__weight">400 г</td>
            <th class="dish__price">400 грн</th>
          </tr>
        </table>
      </li>
      <li class="menu__category">
        <h3 class="category__title">Гарніри та закуски</h3>
        <table class="category__dish">
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Запечені овочі</p>
              <p class="dish__ingredients">
                Кабачок, перець, помідор, баклажан
              </p>
            </td>
            <td class="dish__weight">200 г</td>
            <th class="dish__price">230 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Картопля фрі</p>
              <p class="dish__ingredients">Картопля, соус томатний</p>
            </td>
            <td class="dish__weight">150 г</td>
            <th class="dish__price">160 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Картопля по-селянськи</p>
              <p class="dish__ingredients">Картопля, спеції, соус пікантний</p>
            </td>
            <td class="dish__weight">150 г</td>
            <th class="dish__price">160 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Хрумкі соління з бочки</p>
              <p class="dish__ingredients">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </p>
            </td>
            <td class="dish__weight">250 г</td>
            <th class="dish__price">350 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Крильця курячі в медовому соусі</p>
              <p class="dish__ingredients">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </p>
            </td>
            <td class="dish__weight">400 г</td>
            <th class="dish__price">420 грн</th>
          </tr>
        </table>
      </li>
      <li class="menu__category">
        <h3 class="category__title">Салати</h3>
        <table class="category__dish">
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Цезар з куркою</p>
              <p class="dish__ingredients">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </p>
            </td>
            <td class="dish__weight">230 г</td>
            <th class="dish__price">450 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Цезар з креветками</p>
              <p class="dish__ingredients">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </p>
            </td>
            <td class="dish__weight">230 г</td>
            <th class="dish__price">300 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Грецький салат</p>
              <p class="dish__ingredients">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </p>
            </td>
            <td class="dish__weight">230 г</td>
            <th class="dish__price">280 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">М’ясний салат</p>
              <p class="dish__ingredients">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </p>
            </td>
            <td class="dish__weight">230 г</td>
            <th class="dish__price">300 грн</th>
          </tr>
        </table>
      </li>
      <li class="menu__category">
        <h3 class="category__title">Десерти</h3>
        <table class="category__dish">
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Торт наполеон</p>
            </td>
            <td class="dish__weight">230 г</td>
            <th class="dish__price">300 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Торт маковий</p>
            </td>
            <td class="dish__weight">230 г</td>
            <th class="dish__price">300 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Тірамісу</p>
            </td>
            <td class="dish__weight">120 г</td>
            <th class="dish__price">260 грн</th>
          </tr>
        </table>
      </li>
      <li class="menu__category">
        <h3 class="category__title">Напої</h3>
        <table class="category__dish">
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Чай чорний/зелений</p>
            </td>
            <td class="dish__weight--small-padding">500 мл</td>
            <th class="dish__price">100 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Еспресо</p>
            </td>
            <td class="dish__weight--small-padding">30 мл</td>
            <th class="dish__price">100 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Американо</p>
            </td>
            <td class="dish__weight--small-padding">150 мл</td>
            <th class="dish__price">100 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Капучино</p>
            </td>
            <td class="dish__weight--small-padding">200 мл</td>
            <th class="dish__price">160 грн</th>
          </tr>
          <tr class="dish">
            <td class="dish__wrap">
              <p class="dish__name">Лате</p>
            </td>
            <td class="dish__weight--small-padding">200 мл</td>
            <th class="dish__price">160 грн</th>
          </tr>
        </table>
      </li>
    </ul>
    <button type="button">Забронювати столик</button>
  </div>
</section>
