:root {
  --first-color-fon:#FFFDEE;
  --secondary-color-fon:#F0ECD6;
  --footer-color-fon: #0E0C07;
  --second-logo-color: #828282;
  --accent-color: #F3C653;
  --second-accent-color: #C79002;
  --main-title-color: #000000;
  --main-text-color: #5F5F5F;
  --hotel-text-color: #7A7A7A;
  --second-text-color: #BABABA;
  --pre-title-text-color: #B4B4B4;
  --text-menu-color: #000000;
  --white-color: #FFFFFF;
  --placeholder-color: #808080;
  --shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  --gradient: rgba(0, 0, 0, 0.65);
  --animation-link: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //   --second-title-color: ;
  //   --third-title-color: ;
  //   --main-btn-color: ;
  //   --second-btn-color: ;
  //   --accent-color: ;
  
  //   --transition: ;
}
