.section-hero--rest {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(././../images/restaurant/bg/restaurant-bg-min.jpg);
  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(././../images/restaurant/bg/restaurant-bg-2x-min.jpg);
  }
  @include tablet {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(././../images/restaurant/bg/restaurant-bg-tab-min.jpg);
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(././../images/restaurant/bg/restaurant-bg-tab-2x-min.jpg);
    }
  }
  @include desktop {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(././../images/restaurant/bg/restaurant-bg-desktop-min.jpg);
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(././../images/restaurant/bg/restaurant-bg-desktop-2x-min.jpg);
    }
  }
}
