.menu__section {
  width: 100%;
  background-color: var(--first-color-fon);
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu__container {
  max-width: 413px;
  @include mobile {
    width: 414px;
  }
}

.menu__title {
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;

  color: var(--main-title-color);

  padding-bottom: 32px;
  @include mobile {
    font-size: 32px;
  }
}

.category__title {
  text-align: start;
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: var(--main-title-color);

  margin-bottom: 16px;
}

.category__dish {
  display: block;
  width: 100%;
  padding-bottom: 16px;
}
.category__dish:not(:last-child) {
  padding-bottom: 16px;
}

.dish__complex {
  display: block;
}

.dish__complex:not(:last-child) {
  padding: 0 0 8px 0;
}

.dish__wrap {
  width: 221px;
}

.dish__name {
  width: 100%;
  font-family: 'Montserrat-500', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;

  color: var(--main-title-color);

  margin-bottom: 4px;
  padding: 0;
}

.dish__single {
  display: block;
}

.dish__single:not(:last-child) {
  padding: 0 0 11px 0;
}

.dish__name--single:not(:last-child) {
  height: 17px;
  width: 162px;
  margin-bottom: 0;
}

.dish__ingredients {
  font-family: 'Montserrat-400', sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--main-title-color);
}

.dish__weight {
  font-family: 'Montserrat-300', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--main-title-color);

  padding: 0 0 0 28px;
  height: 17px;
  min-width: 60px;
  vertical-align: middle;
  @include mobile {
    font-size: 14px;
  }
}

.dish__weight--desert {
  padding-left: 90px;
}

.dish__weight--drinks {
  padding-left: 75px;
}

.dish__price {
  font-family: 'Montserrat-700', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--main-title-color);

  padding: 0 0 0 32px;
  min-width: 94px;
  vertical-align: middle;
  text-align: end;
  @include mobile {
    font-size: 14px;
  }
}

.dish__price--bigger-padding {
  padding: 0 0 0 45px;
}

.dish__price--big-padding {
  padding: 0 0 0 40px;
}

.menu__button {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
}
