.room-doublelux {
  width: 100%;
  height: 100%;
  background: var(--first-color-fon);
}

.room-doublelux__container {
  position: relative;
}

// .background-line {
//   width: 100%;
//   height: 0;
//   filter: blur(0.5px);
//   transform-origin: 0 0;
//   border: 1px solid #bababa66;
//   position: absolute;
//   transform: rotate(90deg) translateY(100%);
// }

// .background-line__left {
//   left: 25%;
// }

// .background-line__center {
//   left: 50%;
// }

// .background-line__right {
//   left: 75%;
// }

.room-doublelux__content {
  padding-top: 32px;
  padding-left: 0;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--pre-title-text-color);

  @include tablet {
    padding-top: 62px;

    font-size: 32px;
    line-height: calc(37 / 32);
  }

  @include desktop {
    padding-top: 72px;

    font-size: 32px;
    line-height: calc(37 / 32);
  }
}

.room-doublelux__logo {
  padding-top: 8px;
  padding-left: 0;

  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: #494848;

  @include tablet {
    padding-top: 4px;

    font-size: 64px;
    line-height: calc(69 / 64);
  }

  @include desktop {
    padding-top: 4px;

    font-size: 64px;
    line-height: calc(69 / 64);
  }
}

.room-doublelux__title {
  padding-top: 32px;
  padding-left: 0;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.05em;
  color: var(--text-menu-color);

  @include tablet {
    padding-top: 62px;

    font-size: 30px;
    line-height: calc(34 / 30);
  }

  @include desktop {
    padding-top: 72px;

    font-size: 36px;
    line-height: calc(41 / 36);
  }
}

.room-doublelux__description-wrap {
  display: block;

  padding-top: 12px;
  margin-left: 0;
  margin-right: 126px;

  @include tablet {
    display: block;
    width: 400px;
    padding-top: 16px;
    margin-left: 0;
  }

  @include desktop {
    display: block;
    width: 400px;
    padding-top: 24px;
    margin-left: 0;
  }
}

.room-doublelux__description {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #5f5f5f;

  @include tablet {
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  @include desktop {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: #7a7a7a;
  }
}

.room-doublelux__photo {
  position: absolute;
  top: 286px;
  left: 155px;
  background: #dadada;
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include tablet {
    top: -32px;
    left: 512px;
  }

  @include desktop {
    top: -33px;
    left: 640px;
  }
}

// .room-doublelux__button {
//   display: block;

//   margin-left: auto;
//   margin-right: auto;
// }
// .room-doublelux__button-prices {
//   display: block;
//   margin-top: 16px;
//   margin-left: auto;
//   margin-right: auto;
// }

.room-doublelux__button-wrap {
  padding-bottom: 32px;
  margin-top: 652px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include tablet {
    padding-bottom: 145px;
    margin-top: 217px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0;
    justify-content: right;
    align-items: flex-end;
  }

  @include desktop {
    margin-left: auto;
    padding-bottom: 182px;
    justify-content: right;
    align-items: flex-end;
  }
}
