.section-hero--hotel {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(././../images/hotel/bg/hotel-bg-min.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(././../images/hotel/bg/hotel-bg-2x-min.jpg);
  }
  @include tablet {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(././../images/hotel/bg/hotel-bg-tab-min.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(././../images/hotel/bg/hotel-bg-tab-2x-min.jpg);
    }
  }
  @include desktop {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(././../images/hotel/bg/hotel-bg-desktop-min.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(././../images/hotel/bg/hotel-bg-desktop-2x-min.jpg);
    }
  }
}
