<section class="main-page-about-restaurant section-about">
  <div class="container main-page-about-restaurant-container">
    <h1 class="visually-hidden">About our restaurant</h1>
    <p class="section-title-pre-text">Amet minim mollit non</p>
    <p class="section-title">MIMIHO</p>
    <p class="section-title-post-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="main-page-photo-about-restaurant">
      <picture>
        <source
          srcset="
            ./images/homepage/restaurant-interior/restaurant-interior-desktop-1.jpg    1x,
            ./images/homepage/restaurant-interior/restaurant-interior-desktop-1-2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/homepage/restaurant-interior/restaurant-interior-tab-1.jpg    1x,
            ./images/homepage/restaurant-interior/restaurant-interior-tab-1-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/homepage/restaurant-interior/restaurant-interior-1.jpg    1x,
            ./images/homepage/restaurant-interior/restaurant-interior-1-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          src="./images/homepage/restaurant-interior/restaurant-interior-1.jpg"
          alt="фото залу ресторану"
          width="920"
        />
      </picture>
    </div>
    <div class="main-page-second-photo-about-restaurant">
      <picture>
        <source
          srcset="
            ./images/homepage/restaurant-interior/restaurant-interior-desktop-2.jpg    1x,
            ./images/homepage/restaurant-interior/restaurant-interior-desktop-2-2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/homepage/restaurant-interior/restaurant-interior-tab-2.jpg    1x,
            ./images/homepage/restaurant-interior/restaurant-interior-tab-2-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/homepage/restaurant-interior/restaurant-interior-2.jpg    1x,
            ./images/homepage/restaurant-interior/restaurant-interior-2-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          src="./images/homepage/restaurant-interior/restaurant-interior-2.jpg"
          alt="фото залу ресторану"
          width="920"
        />
      </picture>
      <p class="main-page-second-photo-about-restaurant-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="fade2 slider-about">
      <div class="slider-about__item">
        <picture>
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-1-desktop-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-1-desktop-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-1-tab-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-1-tab-2x-min.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-1-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-1-2x-min.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/homepage/homepage-slider/slider-1-min.jpg"
            alt="фото залу ресторану"
          />
        </picture>
      </div>
      <div class="slider-about__item">
        <picture>
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-2-desktop-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-2-desktop-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-2-tab-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-2-tab-2x-min.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-2-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-2-2x-min.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/homepage/homepage-slider/slider-2-min.jpg"
            alt="фото залу ресторану"
          />
        </picture>
      </div>
      <div class="slider-about__item">
        <picture>
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-3-desktop-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-3-desktop-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-3-tab-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-3-tab-2x-min.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-3-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-3-2x-min.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/homepage/homepage-slider/slider-3-min.jpg"
            alt="фото залу ресторану"
          />
        </picture>
      </div>
      <div class="slider-about__item">
        <picture>
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-4-desktop-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-4-desktop-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-4-tab-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-4-tab-2x-min.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-4-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-4-2x-min.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/homepage/homepage-slider/slider-4-min.jpg"
            alt="фото залу ресторану"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
