<!--Contacts-->
<section class="section-contacts">
  <div class="container">
    <div class="contacts__wrap">
      <h2 class="section-title visually-hidden">Контакти</h2>
      <div>
        <p class="logo__section">MIMIHO</p>
        <p class="contacts__text">Ресторанно-готельний комплекс</p>
        <ul class="list contacts__list">
          <li>
            <p class="text-nav contacts__text-nav">Ресторан</p>
            <div class="contacts__box contacts__box__resto">
              <a href="tel:095 555 95 33" class="link contacts__link">
                <svg class="contacts-icon" width="12" height="20">
                  <use href="/src/images/symbol-defs.svg#icon-phone"></use>
                </svg>
                095 555 95 33</a>
            </div>
          </li>
          <li>
            <p class="text-nav contacts__text-nav">Готель</p>
            <div class="contacts__box contacts__box__hotel">
              <a href="tel:066 849 10 89" class="link contacts__link">
                <svg class="contacts-icon" width="12" height="20">
                  <use href="/src/images/symbol-defs.svg#icon-phone"></use>
                </svg>
                066 849 10 89</a>
              <a href="tel:067 275 85 40" class="link contacts__link contacts__link__secondary-number">067 275 85 40</a>
            </div>
          </li>
        </ul>
        <address class="contacts__box contacts__box__adress">
          <a href="https://goo.gl/maps/uGnBkRTMWL5woVNs7" target="_blank" rel="noopener noreferrer nofollow"
            class="link contacts__link contacts__link__adress">
            <svg class="contacts-icon" width="24" height="24">
              <use href="/src/images/symbol-defs.svg#icon-location"></use>
            </svg>Україна, м. Полтава, вул. Маршала Бірюзова, 15
          </a>
        </address>

      </div>
      <iframe class="contacts_map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38627.228005385085!2d34.49152201512585!3d49.599197456112506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1670769760957!5m2!1sru!2sua"
        width="384" height="220" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>