<section class="details-rest section">
  <div class="container">
    <div class="details-rest__information">
      <h1 class="details-rest__title">MIMIHO</h1>
      <p class="details-rest__post-title">Ресторан</p>
      <p class="details-rest__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <!--<div class="fade details-rest__slider">
      <div>
        <picture>
          <source
            srcset="
              ./images/homepage/restaurant-slider/slider-1-desktop-min.jpg    1x,
              ./images/homepage/restaurant-slider/slider-1-desktop-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/homepage/restaurant-slider/slider-1-tab-min.jpg    1x,
              ./images/homepage/restaurant-slider/slider-1-tab-2x-min.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/homepage/restaurant-slider/slider-1-min.jpg    1x,
              ./images/homepage/restaurant-slider/slider-1-2x-min.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/homepage/restaurant-slider/slider-1-min.jpg"
            alt="фото залу ресторану"
            class="rest-slider-photo"
          />
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/homepage/restaurant-slider/slider-2-desktop-min.jpg    1x,
              ./images/homepage/restaurant-slider/slider-2-desktop-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/homepage/restaurant-slider/slider-2-tab-min.jpg    1x,
              ./images/homepage/restaurant-slider/slider-2-tab-2x-min.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/homepage/restaurant-slider/slider-2-min.jpg    1x,
              ./images/homepage/restaurant-slider/slider-2-2x-min.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/homepage/restaurant-slider/slider-2-min.jpg"
            alt="фото залу ресторану"
            class="rest-slider-photo"
          />
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/homepage/restaurant-slider/slider-3-desktop-min.jpg    1x,
              ./images/homepage/restaurant-slider/slider-3-desktop-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/homepage/restaurant-slider/slider-3-tab-min.jpg    1x,
              ./images/homepage/restaurant-slider/slider-3-tab-2x-min.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/homepage/homepage-slider/slider-3-min.jpg    1x,
              ./images/homepage/homepage-slider/slider-3-2x-min.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/homepage/homepage-slider/slider-3-min.jpg"
            alt="фото залу ресторану"
            class="rest-slider-photo"
          />
        </picture>
      </div>
    </div>-->

    <ul class="rest-buttons list">
      <li class="rest-buttons__item">
        <button type="button" class="button table-button">
          Забронювати столик
        </button>
      </li>
      <li class="rest-buttons__item">
        <a href="" class="link menu-button">Переглянути меню</a>
      </li>
    </ul>
  </div>
</section>
