<footer class="footer">
  <div class="container-footer container">
    <div class="wrap">
      <a href="" class="wrap__logo-footer">MIMIHO</a>
    </div>
    <div class="box">
      <ul class="features">
        <li class="features__item">
          <a href="./index.html" class="features__link">Головна</a>
        </li>
        <li class="features__item">
          <a href="./restaurant.html" class="features__link">Ресторан</a>
        </li>
        <li class="features__item">
          <a href="./hotel.html" class="features__link">Готель</a>
        </li>
      </ul>
      <ul class="footer-social">
        <li class="footer-social__item">
          <a href="https://www.instagram.com/" rel="noreferrer noopener" class="footer-social__link">
            <svg class="footer-social__icons" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
          <a href="https://telegram.org/" rel="noreferrer noopener" class="footer-social__tablet"><span
              class="footer-social__text">Telegram</span>
            <svg class="footer-social__icons" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social__item">
          <a href="https://www.facebook.com/" rel="noreferrer noopener" class="footer-social__link">
            <svg class="footer-social__icons" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
          <a href="https://www.facebook.com/" rel="noreferrer noopener" class="footer-social__tablet"><span
              class="footer-social__text">Facebook</span>
            <svg class="footer-social__icons" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social__item">
          <a href="https://telegram.org/" rel="noreferrer noopener" class="footer-social__link">
            <svg class="footer-social__icons" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
          <a href="https://www.instagram.com/" rel="noreferrer noopener" class="footer-social__tablet"><span
              class="footer-social__text footer-social__text--inst">Instagram</span>
            <svg class="footer-social__icons" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>