<footer class="footer">
  <div class="container-footer container">
    <div class="wrap">
      <a href="" class="wrap__logo-footer">MIMIHO</a>
    </div>
    <div class="features">
      <ul class="footer-features list">
        <li class="footer-features__features-item">
          <a href="" class="footer-features__features-link">Головна</a>
        </li>
        <li class="footer-features__features-item">
          <a href="" class="footer-features__features-link">Ресторан</a>
        </li>
        <li class="footer-features__features-item">
          <a href="" class="footer-features__features-link">Готель</a>
        </li>
      </ul>
    </div>
    <div class="social-networks">
      <ul class="footer-social list">
        <li class="footer-social__social-item">
          <a href="" class="footer-social__footer-link">
            <svg class="footer-social__footer-icons" width="22" height="22">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social__social-item">
          <a href="" class="footer-social__footer-link"
            ><svg class="footer-social__footer-icons" width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="footer-social__social-item">
          <a href="" class="footer-social__footer-link"
            ><svg
              class="footer-social__footer-icons"
              width="19.5"
              height="17.5"
            >
              <use href="./images/symbol-defs.svg#icon-telegram"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
