<header class="header container">
  <div class="header__logo">
    <a class="logo_navigation link" href="index.html">mimiho</a>
  </div>
  <nav class="menu">
    <div class="menu__navigation">
      <ul class="menu__list list">
        <li class="menu__item">
          <a
            class="menu__link link"
            href="restaurant.html"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >Ресторан</a
          >
          <div class="menu__contact">
            <a class="menu__tel link" href="tel:+380955559533">
              <svg class="menu__tel-icon" width="12" height="20">
                <use href="/src/images/symbol-defs.svg#icon-phone"></use>
              </svg>
              <span class="menu__tel-tel"> 095 555 95 33</span>
            </a>
          </div>
        </li>
        <li class="menu__item">
          <a
            class="menu__link link"
            href="hotel.html"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >Готель</a
          >
          <div class="menu__contact">
            <a class="menu__tel link" href="tel:+380668491089">
              <svg class="menu__tel-icon" width="12" height="20">
                <use href="/src/images/symbol-defs.svg#icon-phone"></use>
              </svg>
              <span class="menu__tel-tel"> 066 849 10 89</span>
            </a>
            <a class="menu__tel second-tel link" href="tel:+380672758540">
              <span class="menu__tel-tel">067 275 85 40</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <ul class="header__social list">
    <li class="header__social-item">
      <a
        class="header__social-link link"
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="header__social-icon" width="22" height="22">
          <use href="/src/images/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="header__social-item">
      <a
        class="header__social-link link"
        href="https://uk-ua.facebook.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="header__social-icon" width="22" height="22">
          <use href="/src/images/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="header__social-item">
      <a
        class="header__social-link link"
        href="https://telegram.org/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="header__social-icon" width="22" height="22">
          <use href="/src/images/symbol-defs.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
</header>
