<section class="section-hero">
  <h1 class="section-hero__title">Міміно</h1>
  <h2 class="section-hero__subtitle">Ресторанно-готельний комплекс</h2>
  <b class="section-hero__slogan">Смак життя 24/7</b>
  <address class="address">
    <a class="address__link" href="https://goo.gl/maps/y3tbmaWqupX3ceKJ9" rel="noreferrer noopener">Україна, м. Полтава,
      вул. Маршала Бірюзова, 15</a>
  </address>
  <ul class="reception">
    <li class="reception__item"><button class="reception__btn" type="button">Забронювати столик</button></li>
    <li class="reception__item"><button class="reception__btn" type="button">Забронювати номер</button></li>
  </ul>
  <ul class="list-social">
    <li class="list-social__item">
      <a href="#">
        <svg class="list-social__icon">
          <use href="#"></use>
        </svg>
      </a>
    </li>
    <li class="list-social__item">
      <a href="#">
        <svg class="list-social__icon">
          <use href="#"></use>
        </svg>
      </a>
    </li>
    <li class="list-social__item">
      <a href="#">
        <svg class="list-social__icon">
          <use href="#"></use>
        </svg>
      </a>
    </li>
  </ul>
  </section>