<section class="section-hero">
  <div class="container">
    <div data-aos="zoom-in">
      <h1 class="section-hero__title animate__animated animate__zoomIn animate__delay-1s">Mimino</h1>
      <h2 class="section-hero__subtitle animate__animated animate__zoomIn animate__delay-1s">Ресторанно-готельний
        комплекс
      </h2>
    </div>
    <b class="section-hero__slogan">Смак життя 24/7</b>
    <div class="box-center">
      <address class="address">
        <a class="address__link" href="https://goo.gl/maps/y3tbmaWqupX3ceKJ9" rel="noreferrer noopener">Україна, м.
          Полтава,
          вул. Маршала Бірюзова, 15</a>
      </address>
      <ul class="reception">
        <li class="reception__item box-btn"><button class="reception__btn btn " type="button">Забронювати
            столик</button>
        </li>
        <li class="reception__item box-btn"><button class="reception__btn btn" type="button">Забронювати номер</button>
        </li>
      </ul>
    </div>
    <ul class="list-social">
      <li class="list-social__item">
        <a href="#">
          <svg class="list-social__icon">
            <use href="#"></use>
          </svg>
        </a>
      </li>
      <li class="list-social__item">
        <a href="#">
          <svg class="list-social__icon">
            <use href="#"></use>
          </svg>
        </a>
      </li>
      <li class="list-social__item">
        <a href="#">
          <svg class="list-social__icon" width="24px" height="24px">
            <use href="#"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>