<section class="room-doublelux">
  <div class="container room-doublelux__container">
    <!-- <div class="background-line background-line__left"></div>
    <div class="background-line background-line__center"></div>
    <div class="background-line background-line__right"></div> -->
    <p class="room-doublelux__content">Amet minim mollit non</p>
    <p class="room-doublelux__logo">MIMIHO</p>
    <h2 class="room-doublelux__title">ДВОМІСНИЙ НОМЕР люкс</h2>
    <div class="room-doublelux__description-wrap">
      <p class="room-doublelux__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="room-doublelux__photo">
      <picture>
        <source
          srcset="
            /src/images/hotel/double-room-lux/double-room-lux-desktop-min.jpg    1x,
            /src/images/hotel/double-room-lux/double-room-lux-desktop-2x-min.jpg 2x
          "
          media="(min-width: 1280px)"
          width="460"
        />
        <source
          srcset="
            /src/images/hotel/double-room-lux/double-room-lux-tab-min.jpg    1x,
            /src/images/hotel/double-room-lux/double-room-lux-tab-2x-min.jpg 2x
          "
          media="(min-width: 1024px)"
          width="400"
        />
        <source
          srcset="
            /src/images/hotel/double-room-lux/double-room-lux-min.jpg    1x,
            /src/images/hotel/double-room-lux/double-room-lux-2x-min.jpg 2x
          "
          media="(min-width: 414px)"
          width="244"
        />
        <img
          src="/src/images/hotel/double-room-lux/double-room-lux-min.jpg"
          alt="двомісний номер люкс"
          width="244"
          height="322"
        />
      </picture>
    </div>

    <div class="room-doublelux__button-wrap">
      <button
        class="button button__dark room-doublelux__button"
        type="button"
        href="/src/partials/pages/rooms/amenities.html"
      >
        Детальніше
      </button>
      <button
        class="button button__dark room-doublelux__button-prices"
        type="button"
        href="/src/partials/pages/rooms/amenities.html"
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
