<head>
  <link rel="stylesheet" href="/src/sass/index.scss" />
</head>

<section class="hero-hotel container">
  <h1 class="hero-hotel__title">MIMIHO</h1>
  <p class="hero-hotel__after-title">Готель</p>
  <button type="button" class="button hero-hotel__button-table">
    Забронювати столик
  </button>
  <button type="button" class="button hero-hotel__button-number">
    Забронювати номер
  </button>
  <ul class="hero-hotel__soc-list list">
    <li class="hero-hotel__soc-item">
      <a
        href="https://www.instagram.com"
        class="hero-hotel__soc-link link"
        aria-label="instagram"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="hero-hotel__soc-icon" width="24" height="24">
          <use href="/src/images/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="hero-hotel__soc-item">
      <a
        href="https://www.facebook.com"
        class="hero-hotel__soc-link link"
        aria-label="facebook"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="hero-hotel__soc-icon" width="24" height="24">
          <use href="/src/images/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="hero-hotel__soc-item">
      <a
        href="https://web.telegram.org"
        class="hero-hotel__soc-link link"
        aria-label="telegram"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="hero-hotel__soc-icon" width="24" height="24">
          <use href="/src/images/symbol-defs.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
