<section class="room-triple">
  <div class="container room-triple__container">
    <!-- <div class="background-line background-line__left"></div>
    <div class="background-line background-line__center"></div>
    <div class="background-line background-line__right"></div> -->
    <p class="room-triple__content">Amet minim mollit non</p>
    <p class="room-triple__logo">
      MIMIH<span class="room-triple__logo-span">O</span>
    </p>
    <h2 class="room-triple__title">ТРЬОХМІСНИЙ НОМЕР</h2>

    <div class="room-triple__description-wrap">
      <p class="room-triple__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="room-triple__photo">
      <picture>
        <source
          srcset="
            /src/images/hotel/triple-room/triple-room-desktop-min.jpg    1x,
            /src/images/hotel/triple-room/triple-room-desktop-2x-min.jpg 2x
          "
          media="(min-width: 1280px)"
          width="460"
        />
        <source
          srcset="
            /src/images/hotel/triple-room/triple-room-tab-min.jpg    1x,
            /src/images/hotel/triple-room/triple-room-tab-2x-min.jpg 2x
          "
          media="(min-width: 1024px)"
          width="400"
        />
        <source
          srcset="
            /src/images/hotel/triple-room/triple-room-min.jpg    1x,
            /src/images/hotel/triple-room/triple-room-2x-min.jpg 2x
          "
          media="(min-width: 414px)"
          width="244"
        />
        <img
          src="/src/images/hotel/triple-room/triple-room-min.jpg"
          alt="двомісний номер люкс"
          width="244"
          height="322"
        />
      </picture>
    </div>

    <div class="room-triple__button-wrap">
      <button
        class="button button__dark room-triple__button"
        type="button"
        href="/src/partials/pages/rooms/amenities.html"
      >
        Детальніше
      </button>
      <button
        class="button button__dark room-triple__button-prices"
        type="button"
        href="/src/partials/pages/rooms/amenities.html"
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
