.button {
  padding: 0 10px;
  max-width: 236px;
  height: 48px;

  background: rgba(0, 0, 0, 0.4);

  border: 2px solid var(--white-color);
  border-radius: 25px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  transition: background-color var(--animation-link);

  &:hover,
  &:focus {
    background-color: var(--white-color);
  }
  @include mobile {
    min-width: 236px;
    padding: 0;
  }
}

.button__small {
  max-width: 232px;
  @include mobile {
    min-width: 232px;
  }
}

.button__dark {
  background: var(--text-menu-color);

  transition: border-color var(--animation-link);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.button__booking {
  padding: 0 10px;
  max-width: 384px;
  height: 64px;

  background: var(--text-menu-color);

  border: 1px solid var(--accent-color);
  border-radius: 25px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white-color);
  text-transform: uppercase;

  transition: background-color var(--animation-link),
    color var(--animation-link);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--text-menu-color);
  }
  @include mobile {
    min-width: 384px;
    padding: 0;
  }
  @include tablet {
    min-width: 434px;
  }
}

.button__modal {
  padding: 0 10px;
  max-width: 384px;
  height: 64px;
  background: var(--text-menu-color);

  border: 1px solid var(--accent-color);
  border-radius: 2px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--white-color);

  text-transform: uppercase;

  transition: background-color var(--animation-link),
    color var(--animation-link);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--text-menu-color);
  }
  @include mobile {
    min-width: 384px;
    padding: 0;
  }
  @include tablet {
    min-width: 592px;
  }
}
