.section-title {
    margin-bottom: 12px;
    margin-top: 12px;

    font-family: Film P3;
    font-style: 700;
    font-size: 40px;

    color: rgba(73, 72, 72, 1);

    line-height: 100%;
    letter-spacing: 30%;
}

// @media screen and (min-width: 1200px) {       
//     margin-bottom: 50px;  
//     font-size: 36px;
//     line-height: 1.17;
//  }