.section {
  padding-top: 16px;
  padding-bottom: 20px;

  @include tablet {
    padding-top: 120px;
  }
  @include desktop {
  }
}
.section-about {
  padding-top: 16px;
  padding-bottom: 72px;
  @include tablet {
    padding-top: 120px;
    // 96-28px move correction
    padding-bottom: 68px;
  }
  @include desktop {
    padding-bottom: 225px;
  }
}
