.main-page-about-restaurant {
  background-color: var(--first-color-fon);
  position: relative;
}
.main-page-photo-about-restaurant {
  width: 65%;
  margin-top: 28px;
  margin-left: auto;

  @include mobile {
    width: 246px;
  }
  @include tablet {
    position: absolute;
    top: -32px;
    right: 112px;

    margin-top: 0px;

    width: 400px;
  }
  @include desktop {
    right: 180px;
    width: 460px;
  }
}
.main-page-second-photo-about-restaurant {
  margin-top: 32px;
  // margin-bottom: 349px;
  display: flex;
  align-items: center;
  gap: 20px;

  @include tablet {
    margin-top: 142px;
    gap: 48px;
  }
  @include desktop {
    margin-top: 162px;
    gap: 40px;
  }
  & picture {
    width: 50%;
    @include mobile {
      width: 200px;
    }
    @include tablet {
      width: 350px;
    }
    @include desktop {
      width: 460px;
    }
  }
}
.main-page-second-photo-about-restaurant-text {
  font-size: 12px;
  line-height: 1.25;

  letter-spacing: 0.02em;
  color: var(--second-accent-color);
  width: 163px;

  @include tablet {
    font-size: 16px;
    width: 312px;
  }
}

// .main-page-about-restaurant-slider {
//   // position: absolute;
//   // bottom: 20px;
//   // right: 85px;
// }
