.main-page-about-restaurant {
  background-color: var(--first-color-fon);
}
.main-page-about-restaurant-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-page-photo-about-restaurant {
  width: 65%;
  margin-top: 28px;
  margin-left: auto;

  @include mobile {
    width: 246px;
  }
  @include tablet {
    position: absolute;
    top: -153px;
    right: 65px;

    margin-top: 0px;

    width: 400px;
  }
  @include desktop {
    right: 95px;
    top: -153px;

    width: 460px;
  }
}
.main-page-second-photo-about-restaurant {
  margin-top: 32px;

  display: flex;
  align-items: center;
  gap: 20px;

  @include tablet {
    margin-top: 142px;
    gap: 48px;
  }
  @include desktop {
    margin-top: 162px;
    gap: 40px;
  }
  & picture {
    width: 50%;
    @include mobile {
      width: 200px;
    }
    @include tablet {
      width: 350px;
    }
    @include desktop {
      width: 460px;
    }
  }
}
.main-page-second-photo-about-restaurant-text {
  font-size: 12px;
  line-height: 1.25;

  letter-spacing: 0.02em;
  color: var(--second-accent-color);
  width: 163px;

  @include tablet {
    font-size: 16px;
    width: 312px;
  }
}

.slider-about {
  margin-top: 32px;
  min-width: 0;
  position: relative;
  padding: 0 0 0 69px;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
// Slider-about styles
.slider-about .slick-arrow {
  position: absolute;
  top: 120%;
  // left: 287px;
  width: 30px;
  height: 16px;
  background-size: contain;
}
// Arrow left
.slider-about .slick-arrow.slick-prev {
  left: 287px;

  background: url(../images/svg/arrow-left-about.svg) 0 0 / 100% no-repeat;
}
// Arrow right
.slider-about .slick-arrow.slick-next {
  // left: calc (287 + 64);
  right: 13px;
  background: url(../images/svg/arrow-right-about.svg) 0 0 / 100% no-repeat;
}
