.contacts__wrap {
    padding-top: 36px;
    padding-bottom: 32px;

    @include tablet {
        display: flex;
        justify-content: space-between;
        padding-top: 69px;
        padding-bottom: 40px;
    }

    @include desktop {
        padding-top: 64px;
        padding-bottom: 74px;
    }
}

.logo__section {
    margin-bottom: 12px;
    font-family: 'Film P3';
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: var(--second-logo-color);

    @include tablet {
        font-size: 64px;
        margin-bottom: 8px;


    }
}

.contacts__text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    @include tablet {
        margin-bottom: 52px;
    }
}

.contacts__text-nav {
    font-family: 'Montserrat-500';
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-accent-color);

    @include tablet {
        margin-bottom: 8px;
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: 'Montserrat-400';
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    fill: var(--second-accent-color);

    color: #494848;

}

.contacts__link__secondary-number {
    margin-left: 12px;
    // 
}

.contacts__list>li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    @include tablet {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
        // margin: 0;
        // padding: 0;
    }
}

.contacts__box {
    display: flex;
    border-radius: 2px;
    border: 0.5px solid var(--accent-color);
    background: var(--white-color);
}

.contacts__box__hotel {
    width: 260px;
    height: 40px;
    margin-left: auto;

    @include tablet {
        margin-left: 0;
        margin-bottom: 48px;
    }

    // padding-top: 11px;
    // padding-right: 8px;
    // padding-bottom: 9px;
    // padding-left: 14px;

}

.contacts__box__resto {
    width: 144px;
    height: 40px;
    margin-left: 22px;

    @include tablet {
        margin: 0;
        margin-bottom: 24px;

    }

    // padding-top: 11px;
    //     padding-right: 8px;
    //     padding-bottom: 9px;
    //     padding-left: 14px;
}

.contacts__box__adress {
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-wrap: nowrap;
    width: 260px;
    height: 76px;
    margin-left: auto;
    margin-bottom: 32px;
    padding-right: 33px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;

    @include tablet {
        margin: 0;
        width: 285px;
        height: 56px;
        padding-right: 0;
    }
}

.contacts-icon {
    margin: 11px 14px;
}

.contacts__link__adress {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
}

.contacts_map {
    border: 1px solid var(--pre-title-text-color);
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @include tablet {
        width: 535px;
        height: 420px;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }

    @include desktop {
        width: 634px;
    }
}