.footer {
  padding: 40px 0px 42px;
  background-color: #0e0c07;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 1024px) {
    align-items: center;
  }
}

.wrap {
  @include tablet {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  &__logo-footer {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.06;
    letter-spacing: 0.3em;
    color: #f3c653;

    @media screen and (max-width: 1024px) {
      margin-left: 59px;
    }
    @include tablet {
      font-family: 'Film P3';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 1.08;
      letter-spacing: 0.3em;
    }
  }
}
.box {
  @media screen and (max-width: 1024px) {
    margin-left: auto;
  }
  @include tablet {
    display: flex;
  }
}
/*.features {
  @include tablet {
    border-left: 1px solid rgba(122, 122, 122, 0.4);
    filter: blur(0.5px);
  }
}*/
.footer-features__features-item:not(:last-child) {
  margin-bottom: 16px;
}
.footer-features__features-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #f3c653;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-top: 32px;
}
