<div class="fade">
  <div class="background">
    <h2 class="background-image background-image--double-lux">
      <section class="hero-room">
        <div class="container container--hero container--hroom">
          <div data-aos="zoom-in" class="box-margin">
            <h1 class="hero-room__slick animate__animated animate__zoomIn animate__delay-1s"><span
                class="hero-room__upercase">Двомісний
                номер</span>
              люкс</h1>
            <p class="hero-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
              officia
              consequat duis enim
              velit
              mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          </div>
          <address class="address address--room">
            <a class="address__link" href="https://goo.gl/maps/uGnBkRTMWL5woVNs7" rel="noreferrer noopener">
              <svg class="list-social__icon list-social__icon--loc" width="20px" height="20px">
                <use href="./images/symbol-defs.svg#icon-location"></use>
              </svg>
              Україна, м.
              Полтава,
              вул. Маршала Бірюзова, 15
            </a>
          </address>
          <ul class="list-social list-social--room">
            <li class="list-social__item">
              <a href="https://www.instagram.com/" rel="noreferrer noopener">
                <svg class="list-social__icon" width="24px" height="24px">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="list-social__item">
              <a href="https://www.facebook.com/" rel="noreferrer noopener">
                <svg class="list-social__icon" width="24px" height="24px">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="list-social__item">
              <a href="https://telegram.org/" rel="noreferrer noopener">
                <svg class="list-social__icon" width="24px" height="24px">
                  <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
          <button class="hero-room__btn button " type="button">Переглянути
            ціник</button>
        </div>
      </section>
    </h2>
  </div>
  <div>
    <h2 class="background-image">
      <section>
        <div class="container container--hero container--hroom">
          <div data-aos="zoom-in" class="box-margin">
            <h1 class="hero-room__slick animate__animated animate__zoomIn animate__delay-1s"><span
                class="hero-room__upercase">Двомісний
                номер</span>
              люкс</h1>
            <p class="hero-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
              officia
              consequat duis enim
              velit
              mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          </div>
          <address class="address address--room">
            <a class="address__link" href="https://goo.gl/maps/uGnBkRTMWL5woVNs7" rel="noreferrer noopener">
              <svg class="list-social__icon list-social__icon--loc" width="20px" height="20px">
                <use href="./images/symbol-defs.svg#icon-location"></use>
              </svg>
              Україна, м.
              Полтава,
              вул. Маршала Бірюзова, 15
            </a>
          </address>
          <ul class="list-social list-social--room">
            <li class="list-social__item">
              <a href="https://www.instagram.com/" rel="noreferrer noopener">
                <svg class="list-social__icon" width="24px" height="24px">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="list-social__item">
              <a href="https://www.facebook.com/" rel="noreferrer noopener">
                <svg class="list-social__icon" width="24px" height="24px">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="list-social__item">
              <a href="https://telegram.org/" rel="noreferrer noopener">
                <svg class="list-social__icon" width="24px" height="24px">
                  <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
          <button class="hero-room__btn button " type="button">Переглянути
            ціник</button>
        </div>
      </section>

    </h2>
  </div>
  <div>
    <h2 class="background-image">
      <section>
        <div class="container container--hero container--hroom">
          <div data-aos="zoom-in" class="box-margin">
            <h1 class="hero-room__slick animate__animated animate__zoomIn animate__delay-1s"><span
                class="hero-room__upercase">Двомісний
                номер</span>
              люкс</h1>
            <p class="hero-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
              officia
              consequat duis enim
              velit
              mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          </div>
          <address class="address address--room">
            <a class="address__link" href="https://goo.gl/maps/uGnBkRTMWL5woVNs7" rel="noreferrer noopener">
              <svg class="list-social__icon list-social__icon--loc" width="20px" height="20px">
                <use href="./images/symbol-defs.svg#icon-location"></use>
              </svg>
              Україна, м.
              Полтава,
              вул. Маршала Бірюзова, 15
            </a>
          </address>
          <ul class="list-social list-social--room">
            <li class="list-social__item">
              <a href="https://www.instagram.com/" rel="noreferrer noopener">
                <svg class="list-social__icon" width="24px" height="24px">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="list-social__item">
              <a href="https://www.facebook.com/" rel="noreferrer noopener">
                <svg class="list-social__icon" width="24px" height="24px">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="list-social__item">
              <a href="https://telegram.org/" rel="noreferrer noopener">
                <svg class="list-social__icon" width="24px" height="24px">
                  <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
          <button class="hero-room__btn button " type="button">Переглянути
            ціник</button>
        </div>
      </section>

    </h2>
  </div>
</div>